body {
    background-color: rgb(51, 51, 51);
}

.expense-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 1rem 0;
    background-color: #ffffff;

}

.expense-item h1 {
    color: rgb(31, 29, 29);
    font-size: 1.1rem;
    margin-left: 20px;
}

.expense-price {
    font-size: 1.1rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    color: rgb(29, 141, 117);
    border: 2px solid rgb(32, 107, 91);
    border-radius: 6px;
    margin-left: auto;
}

.expense-description {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
    flex: 1;

}

.container-item {
    background-color: rgb(224, 101, 101);
    border-radius: 5px;
    padding: 9px 15px;
    color: azure;
    text-align: center;
}

.Expense {
    padding: 2rem;
    margin: 2rem auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 50rem;
    background-color: #f1f0f0;

}

@media (min-width:580px) {
    .expense-description {
        flex-direction: row;
        align-items: center;
    }

    .expense-item h1 {
        font-size: 1.25rem;
    }

    .expense-price {
        font-size: 1.25rem;
        padding: 0.5rem 1rem;
    }
}