.new-expense{
    background-color: #fff;
    margin: 2rem auto;
    padding: 1rem;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.new-expense button{
    font-family: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid #ddd;
    background-color: #fff;
    margin-right: 1rem ;
    color: #555;
    border-radius: 12px;
}

.new-expense button:hover,
.new-expense button:active{
    background-color: #f7f7f7;
    border-color: #ccc;
}

.new-expense button.alternative{
    color: #555;
    border-color: transparent;
    background-color: transparent;
}

.new-expense button.alternative:hover,
.new-expense button.alternative:active{
    background-color: #f1f1f1;
}